<div *ngFor="#todo of todos; #i=index">
	<input id="{{i}}" type="checkbox" [(checked)]="todo.completed">
	<label [attr.for]="i">{{todo.text}}</label>
	<a class="glyphicon glyphicon-remove" (click)="removeTodo(todo)"></a>
</div>

<form [ngFormModel]="myForm" (submit)="onSubmit()" class="form-inline">
	<div class="form-group">	
  		<input class="form-control" placeholder="What do you need to do?"
          [class.has-error]="!myForm.controls['newTodo'].valid && myForm.controls['newTodo'].dirty"           
          [ngFormControl]="myForm.controls['newTodo']"
          [(ngModel)]="newTodoText">
	</div>
  
  <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Add Todo</button>
</form>

<input id="toggle-all" type="checkbox" (click)="toggleAll($event)">
<label for="toggle-all">Mark all as complete</label>

<div *ngIf="!myForm.valid && myForm.dirty" class="bg-warning">Form is invalid</div>
<div *ngIf="!newTodoControl.valid && newTodoControl.dirty" class="bg-warning">newTodo is invalid</div>