<md-card>
  <md-card-content>
    <div *ngFor="let todo of todos">
      <md-checkbox [(checked)]="todo.completed">
        {{todo.text}}
      </md-checkbox>
      <button md-icon-button color="warn" (click)="removeTodo(todo)">
        <i class="material-icons" md-24>check</i>
      </button>
    </div>

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div>
        <md-input required placeholder="What do you need to do?" [formControl]="newTodo"></md-input>
      </div>

      <button md-raised-button color="primary" type="submit" [disabled]="!myForm.valid">Add Todo</button>
    </form>

    <md-checkbox (change)="toggleAll($event)">
      Mark all as complete
    </md-checkbox>

  </md-card-content>
</md-card>

<!--<div *ngIf="!myForm.valid && myForm.dirty">Form is invalid</div>
<div *ngIf="!newTodo.valid && newTodo.dirty">newTodo is invalid</div>

<md-progress-circle mode="determinate" value="79"></md-progress-circle>
<md-progress-circle mode="indeterminate"></md-progress-circle>
<md-spinner></md-spinner>

<md-progress-circle mode="indeterminate" color="primary"></md-progress-circle>
<md-progress-circle mode="indeterminate" color="accent"></md-progress-circle>
<md-progress-circle mode="indeterminate" color="warn"></md-progress-circle>-->