<md-card>
  <md-card-content>
    <div *ngFor="let todo of todos">
      <md-checkbox [(checked)]="todo.completed">
        {{todo.text}}
      </md-checkbox>
      <button md-icon-button color="warn" (click)="removeTodo(todo)">
        <i class="material-icons" md-24>check</i>
      </button>
    </div>

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div>
        <md-input required placeholder="What do you need to do?" [formControl]="newTodo"></md-input>
      </div>

      <button md-raised-button color="primary" type="submit" [disabled]="!myForm.valid">Add Todo</button>
    </form>

    <br />

    <md-checkbox (change)="toggleAll($event)">
      Mark all as complete
    </md-checkbox>

  </md-card-content>
</md-card>